body {
    margin : 0px;
}

.slide-container {
    width: 300vw;
    /* 브라우저 폭 == 100vw */
    transition: all 1s;

    /* transform: translateX(-100vw); */
    /* margin-left: -100vw;  위랑 비슷한데 더 멋짐*/
}

.slide-box {
    width: 100vw;
    float: left;
}

.slide-box img {
    width : 100%;
}