<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body class="grey-bg">

    <div class="detail-bg">
        <h4><%= 글내용.title %></h4>
        <p><%= 글내용.content %></p>
    </div> 

</body>
</html>